/* .hunt-success {
  text-align: center;
  color: green;
  padding: 10px 0px;
  background: indianred;
  font-size: 20px;
  display: none;
} */
.hunt-success {
  text-align: center;
  color: #4564ec;
  padding: 10px 0px;
  background: rgb(70, 235, 5);
  font-size: 40px;
  display: none;
}
.hunt-success p {
  margin: 0;
}
.hunt-success p span {
  color: #980e0e;
}
.duck-hunt-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.duck-hunt-text {
  position: absolute;
  font-size: 20px;
  /* top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}
